#backgroundImage {
	background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1504674900247-0877df9cc836%3Fixid%3DMXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%253D%26ixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D1050%26q%3D80");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

#footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

#mainContainer {
	display: none ;
}

/* .card {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 5px;
}

#container-space {


} */